name: update
on:
  workflow_dispatch:
permissions:
    contents: write
    discussions: write
jobs:
    wikipedia:
        runs-on: ubuntu-22.04
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 安装依赖
              run: |
                #安装最新wikiextractor(旧版有错误)
                mkdir -p /tmp/gitclone
                cd /tmp/gitclone
                git clone https://github.com/attardi/wikiextractor.git
                cd wikiextractor
                sudo python setup.py install
                cd $GITHUB_WORKSPACE
                #安装 opencc
                pip install opencc

            - name: 下载并解压数据
              run: |
                mkdir -p workdir
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/dl.py
                bzip2 -dv *.bz2
                ls -la $(find . -type d)

            - name: 获取Wikipedia page id
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/get_wikipedia_page_id.py
                cat wikipedia_page_id.txt

            - name: 获取匹配数据
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/get_wikipedia_page.py

            - name: 简繁转换
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/convert_wiki_text.py

            - name: 提取并清理文本
              run: |
                cd workdir
                wikiextractor -o $GITHUB_WORKSPACE/workdir/zhwiki-vn zhwiki-vn_simplified.xml

            - name: 上传文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: 文本
                  path: "workdir/zhwiki-vn"

            - name: 上传page_id
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: page_id
                  path: "workdir/wikipedia_page_id.txt"
            
            - name: 上传匹配数据
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: 匹配数据
                  path: "workdir/zhwiki-vn.xml"

            - name: 上传简繁转换数据
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: 简繁转换数据
                  path: "workdir/zhwiki-vn_simplified.xml"