name: update
on:
  workflow_dispatch:
permissions:
    contents: write
    discussions: write
jobs:
    ja-wikipedia:
        runs-on: ubuntu-22.04
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 输出运行器硬件信息
              run: |
                bash $GITHUB_WORKSPACE/.github/workflows/scripts/hardware_info.sh

            - name: 克隆工具
              run: |
                mkdir -p workdir
                cd workdir
                git clone https://github.com/chenmozhijin/mediawikiextractor

            - name: 安装依赖
              run: |
                pip install regex requests opencc html2text markdown

            - name: 运行工具
              run: |
                cd $GITHUB_WORKSPACE/workdir/mediawikiextractor/
                python mediawikiextractor.py --config $GITHUB_WORKSPACE/.github/workflows/config/ja-wikipedia.json --output $GITHUB_WORKSPACE/workdir/ja-wikipedia-vn.json

            - name: 上传维基百科的json文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: ja-wikipedia-json
                  path: "workdir/ja-wikipedia-vn.json"

    moegirl:
        runs-on: ubuntu-22.04
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 输出运行器硬件信息
              run: |
                bash $GITHUB_WORKSPACE/.github/workflows/scripts/hardware_info.sh

            - name: 克隆工具
              run: |
                mkdir -p workdir
                cd workdir
                git clone https://github.com/chenmozhijin/mediawikiextractor

            - name: 安装依赖
              run: |
                pip install regex requests opencc html2text markdown

            - name: 运行工具
              run: |
                cd $GITHUB_WORKSPACE/workdir/mediawikiextractor/
                python mediawikiextractor.py --config $GITHUB_WORKSPACE/.github/workflows/config/moegirl.json --output $GITHUB_WORKSPACE/workdir/moegirl-vn.json

            - name: 上传萌娘百科的json文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: moegirl-json
                  path: "workdir/moegirl-vn.json"

    push: 
        needs: [ja-wikipedia,moegirl]
        runs-on: ubuntu-22.04
        steps:
          - name: 将存储库签出到运行器
            uses: actions/checkout@v3
            with:
                path: push

          - name: 下载zh-wikipedia-json文本
            uses: actions/download-artifact@v3
            with:
                name: ja-wikipedia-json

          - name: 下载moegirl-json文本
            uses: actions/download-artifact@v3
            with:
                name: moegirl-json

          - name: 复制
            run: |
                mkdir -p push/data
                mkdir -p merge
                cp -f ja-wikipedia-vn.json push/data/ja-wikipedia.json
                cp -f moegirl-vn.json push/data/moegirl-vn.json
                cp -f ja-wikipedia-vn.json merge/ja-wikipedia.json
                cp -f moegirl-vn.json merge/moegirl-vn.json
                python $GITHUB_WORKSPACE/push/.github/workflows/scripts/merge_json_files.py merge all-vn.json
                cp -f all-vn.json push/data/all-vn.json

          - name: 上传
            id: upload
            run: |
                cd push
                git config user.name "github-actions[bot]"
                git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
                git add .
                git commit -m "更新于$(TZ='Asia/Shanghai' date +%Y/%m/%d/%H:%M)" && git push &&  echo "有更改，更新成功"||echo "无更改" 

          - name: 检测
            run: ls -la $(find $GITHUB_WORKSPACE -type d)