name: update
on:
  workflow_dispatch:
permissions:
    contents: write
    discussions: write
jobs:
    prepare:
        runs-on: ubuntu-22.04
        steps:
            - name: 准备环境
              run: |
                sudo apt install -y python3
                pip install wikiextractor

            
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3
            
            - name: 获取Wikipedia page id
              run: |
                python .github/workflows/scripts/get_wikipedia_page_id.py
                ls
                cat wikipedia_page_id.txt