name: update
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
    inputs:
      incremental_update:
        description: '增量更新'
        required: true
        type: boolean
      bangumi_only:
        description: '只更新bangumi'
        required: false
        type: boolean
permissions:
    contents: write
    discussions: write
jobs:
    ja-wikipedia:
        runs-on: ubuntu-22.04
        if: ${{ !contains(github.event.inputs.bangumi_only, 'true') }}
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 输出运行器硬件信息
              run: |
                bash $GITHUB_WORKSPACE/.github/workflows/scripts/hardware_info.sh

            - name: 克隆工具
              run: |
                mkdir -p workdir
                cd workdir
                git clone https://github.com/chenmozhijin/mediawikiextractor

            - name: 安装依赖
              run: |
                pip install -r $GITHUB_WORKSPACE/workdir/mediawikiextractor/requirements.txt

            - name: 增量更新
              if: ${{ inputs.incremental_update || github.event_name == 'schedule' }}
              run: |
                latest_ver="$(curl -s -L --retry 6 https://api.github.com/repos/${{ github.repository }}/releases 2>/dev/null | grep -E 'tag_name' | sed -e 's/    "tag_name": "//' -e 's/",//' | sed -n '1p')"
                echo latest_ver=$latest_ver
                curl -s -L --retry 6 https://github.com/${{ github.repository }}/releases/download/${latest_ver}/ja-wikipedia.json -o $GITHUB_WORKSPACE/workdir/ja-wikipedia.json -nv

            - name: 运行工具
              run: |
                cd $GITHUB_WORKSPACE/workdir/mediawikiextractor/
                python mediawikiextractor.py --config $GITHUB_WORKSPACE/.github/workflows/config/ja-wikipedia.json --output $GITHUB_WORKSPACE/workdir/ja-wikipedia.json

            - name: 上传维基百科的json文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: ja-wikipedia-json
                  path: "workdir/ja-wikipedia.json"

    moegirl:
        if: ${{ !contains(github.event.inputs.bangumi_only, 'true') }}
        runs-on: ubuntu-22.04
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 输出运行器硬件信息
              run: |
                bash $GITHUB_WORKSPACE/.github/workflows/scripts/hardware_info.sh

            - name: 克隆工具
              run: |
                mkdir -p workdir
                cd workdir
                git clone https://github.com/chenmozhijin/mediawikiextractor

            - name: 安装依赖
              run: |
                pip install -r $GITHUB_WORKSPACE/workdir/mediawikiextractor/requirements.txt

            - name: 增量更新
              if: ${{ inputs.incremental_update || github.event_name == 'schedule' }}
              run: |
                latest_ver="$(curl -s -L --retry 6 https://api.github.com/repos/${{ github.repository }}/releases 2>/dev/null | grep -E 'tag_name' | sed -e 's/    "tag_name": "//' -e 's/",//' | sed -n '1p')"
                echo latest_ver=$latest_ver
                curl -s -L --retry 6 https://github.com/${{ github.repository }}/releases/download/${latest_ver}/moegirl.json -o $GITHUB_WORKSPACE/workdir/moegirl.json -nv

            - name: 运行工具
              run: |
                cd $GITHUB_WORKSPACE/workdir/mediawikiextractor/
                python mediawikiextractor.py --config $GITHUB_WORKSPACE/.github/workflows/config/moegirl.json --output $GITHUB_WORKSPACE/workdir/moegirl.json

            - name: 上传萌娘百科的json文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: moegirl-json
                  path: "workdir/moegirl.json"
