name: update
on:
  workflow_dispatch:
permissions:
    contents: write
    discussions: write
jobs:
    wikipedia:
        runs-on: ubuntu-22.04
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 输出运行器硬件信息
              run: |
                bash $GITHUB_WORKSPACE/.github/workflows/scripts/hardware_info.sh

            - name: 安装依赖
              run: |
                #安装最新修改版wikiextractor(旧版有错误)
                mkdir -p /tmp/gitclone
                cd /tmp/gitclone
                git clone https://github.com/chenmozhijin/wikiextractor.git
                cd wikiextractor
                sudo python setup.py install
                cd $GITHUB_WORKSPACE
                #安装 opencc
                pip install opencc
                pip install mwparserfromhell

            - name: 下载并解压数据
              run: |
                mkdir -p workdir
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/dl.py
                bzip2 -dv *.bz2
                ls -la $(find . -type d)

            - name: 获取Wikipedia page id
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/get_wiki_page_id.py zh-wikipedia
                cat zh-wikipedia-page_ids.txt

            - name: 获取匹配数据
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/get_wikipedia_page.py

            - name: 简繁转换
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/convert_wiki_text.py

            - name: 提取并清理文本
              run: |
                cd workdir
                wikiextractor -o $GITHUB_WORKSPACE/workdir/zhwiki-vn -b 1G zhwiki-vn_simplified.xml
                wikiextractor -o $GITHUB_WORKSPACE/workdir/zhwiki-vn-json --json --preserve-unicode -b 1G zhwiki-vn_simplified.xml
                cat $(find zhwiki-vn -type f) > zh-wikipedia-vn.txt
                cat $(find zhwiki-vn-json -type f) >  zh-wikipedia-vn.jsonl

            - name: 转换为json并进一步处理
              run: |
                cd workdir
                python $GITHUB_WORKSPACE/.github/workflows/scripts/convert_jsonl_to_json.py --input zh-wikipedia-vn.jsonl --output zh-wikipedia-vn.json
                python $GITHUB_WORKSPACE/.github/workflows/scripts/modify.py --input zh-wikipedia-vn.json --output zh-wikipedia-vn.json --source zh-wikipedia

            - name: 上传zh-wikipedia文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: zh-wikipedia文本
                  path: "workdir/zh-wikipedia-vn.txt"

            - name: 上传zh-wikipedia的jsonl文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: zh-wikipedia-jsonl
                  path: "workdir/zh-wikipedia-vn.jsonl"

            - name: 上传zh-wikipedia的json文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: zh-wikipedia-json
                  path: "workdir/zh-wikipedia-vn.json"
                  
            - name: 上传zh-wikipedia-page_id
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: zh-wikipedia-page_id
                  path: "workdir/zh-wikipedia-page_ids.txt"
            
            - name: 上传zh-wikipedia匹配数据
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: zh-wikipedia匹配数据
                  path: "workdir/zhwiki-vn.xml"

            - name: 上传zh-wikipedia简繁转换数据
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: zh-wikipedia简繁转换数据
                  path: "workdir/zhwiki-vn_simplified.xml"

    moegirl:
        runs-on: ubuntu-22.04
        steps: 
            - name: 将存储库签出到运行器
              uses: actions/checkout@v3

            - name: 输出运行器硬件信息
              run: |
                bash $GITHUB_WORKSPACE/.github/workflows/scripts/hardware_info.sh

            - name: 克隆工具
              run: |
                mkdir -p workdir
                cd workdir
                git clone https://github.com/chenmozhijin/mediawikiextractor

            - name: 安装依赖
              run: |
                pip install regex requests

            - name: 运行工具
              run: |
                cat $GITHUB_WORKSPACE/.github/workflows/config/config.json > $GITHUB_WORKSPACE/workdir/moegirl-archive/mediawikiextractor
                cd $GITHUB_WORKSPACE/workdir/mediawikiextractor/
                python mediawikiextractor.py --config $GITHUB_WORKSPACE/.github/workflows/config/config.json --output $GITHUB_WORKSPACE/workdir/moegirl-vn.json

            - name: 上传萌娘百科的json文本
              if: success() || failure()
              uses: actions/upload-artifact@v3
              with:
                  name: moegirl-json
                  path: "workdir/moegirl-vn.json"

    push: 
        needs: [wikipedia,moegirl]
        runs-on: ubuntu-22.04
        steps:
          - name: 将存储库签出到运行器
            uses: actions/checkout@v3
            with:
                path: push

          - name: 下载zh-wikipedia-json文本
            uses: actions/download-artifact@v3
            with:
                name: zh-wikipedia-json

          - name: 下载moegirl-json文本
            uses: actions/download-artifact@v3
            with:
                name: moegirl-json

          - name: 复制
            run: |
                mkdir -p push/data
                mkdir -p merge
                cp -f zh-wikipedia-vn.json push/data/zh-wikipedia.json
                cp -f moegirl-vn.json push/data/moegirl-vn.json
                cp -f zh-wikipedia-vn.json merge/zh-wikipedia.json
                cp -f moegirl-vn.json merge/moegirl-vn.json
                python $GITHUB_WORKSPACE/push/.github/workflows/scripts/merge_json_files.py merge all-vn.json
                cp -f all-vn.json push/data/all-vn.json

          - name: 上传
            id: upload
            run: |
                cd push
                git config user.name "github-actions[bot]"
                git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
                git add .
                git commit -m "更新于$(TZ='Asia/Shanghai' date +%Y/%m/%d/%H:%M)" && git push &&  echo "有更改，更新成功"||echo "无更改" 

          - name: 检测
            run: ls -la $(find $GITHUB_WORKSPACE -type d)